<div>
  <div class="owl-carousel owl-theme" id="foo1">
    <% @slider_images.each do |si| %>
      <div><%= image_tag si.image.url(:slider) if si.image_file_name %></div>
    <% end %>
  </div>
  <div class="pop hidden-xs">
    <div class="">
      <% @collections.each_with_index do |collection, i| %>
        <div class="col-md-2 col-sm-2 col-xs-2 bg_pop bg_pop_<%= i+1 %> text-center" style="background-image:url(<%= collection.image.url(:medium) %>);">
          <h2><%= collection.name %></h2>
          <%= link_to 'Подробнее', catalog_path(collection) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- =/owl -->
<!-- популятрые коллекции -->
<!-- owl брэндов -->
<div class="owl-carousel owl-theme" id="foo3">
  <% Factory.all.each do |factory| %>
    <% if factory.logo_file_name %>
      <div class="text-center">
        <%= link_to catalog_index_path(factories: factory.id) do %>
          <%= image_tag factory.logo.url(:medium), width: 205 %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="container new_block">
  <div class="row">
    <% @news.each do |n| %>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <%= link_to news_path(n) do %>
          <%= image_tag n.image.url(:medium) if n.image_file_name %>
          <h3><%= n.head %></h3>
          <p class="text-left"><%= n.short %></p>
        <% end %>
        <!-- <a href="" class="btn"> Подробнее</a> -->
      </div>
    <% end %>
  </div>
</div>
<div class="container consultation-cat">
  <section class="consultation">
    <div class="form">
      <p class="title">Бесплатная консультация дизайнера</p>
      <%= form_for @entry, remote: true do |f| %>
        <fieldset>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= f.text_field :name, placeholder: 'Ваше имя' %>
          <%= f.text_field :phone, placeholder: 'Контактный телефон' %>
          <%= f.submit 'Записаться', class: 'submit' %>
        </fieldset>
      <% end %>
    </div>
  </section>
  <div class="text-center">
    <%= render partial: 'pages/info_text', locals: { field: :bottom_text } %>
  </div>   
</div>