<% content_for :meta do %>
  <title><%= [@news.title, @news.head].find{|i| !i.to_s.empty? } %></title>
  <meta name="description" content="<%= [@news.description, @news.short, @news.middle, @news.full].find{|i| !i.to_s.empty? } %>" />
<% end %>
<div class="main">
  <div class="container">
    <div class="row">
      <main>
        <h1 class="justifycenter"><%= @news.head %></h1>
        <div class="col-md-3">
          <%= image_tag @news.image.url(:thumb), class: 'img-responsive' if @news.image_file_name %>
        </div>
        <div class="col-md-9">
          <p><%= @news.full.split(/\n\r/).join('</p><br><p>').html_safe if @news.full %></p>
          <% if @news.images %>
            <div class="row foto_new">
              <% @news.images.each do |image| %>
                <div class="col-md-4">
                  <%= image_tag image.image.url(:medium), width: 300 %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </main>
    </div>
  </div>
</div>