<ul>
  <% if menu_items %>
    <% menu_items.each do |mi| %>
      <li id="menu_item_<%=mi.id%>">
        <%= link_to mi.text, mi.url %>
        <% if current_admin_user %>
          <%= link_to '<span>&#x2710;</span>'.html_safe, '#menu_link', 'data-toggle' => 'modal', class: 'menu_edit_button menu_button', 'data-url' => edit_menu_item_path(mi.id) %>
          <%= link_to '<span>&#x2715;</span>'.html_safe, menu_item_path(mi), method: :delete, class: 'menu_button', data: { confirm: 'Вы уверены?' }, remote: true %>
        <% end %>
      </li>
    <% end %>
  <% end %>
  <% if current_admin_user %>
    <li>
      <%= link_to '+', '#menu_link', 'data-toggle' => 'modal', class: 'menu_add_button menu_edit_button', 'data-url' => new_menu_item_path(position: 'bottom_left') %>
    </li>
  <% end %>
</ul>