<% content_for :meta do %>
  <title><%= [@page.title, @page.name, @page.subname].find{|i| !i.to_s.empty? } %></title>
  <meta name="description" content="<%= [@page.description, @page.subname, @page.content].find{|i| !i.to_s.empty? } %>" />
<% end %>
<div class="main">
  <div class="container">
    <main>
      <div class="row">
        <% if @page.name %>
          <h1 class="justifycenter"><%= @page.name %></h1>
        <% end %>
        <div class="col-md-7">
          <% if @page.subname %>
            <h3><%= @page.subname %></h3>
            <br>
          <% end %>
          <% if @page.content %>
            <p><%= @page.content.split(/\r\n/).join('</p><br><p>').html_safe %></p>
          <% end %>
        </div>
        <div class="col-md-5 text-center">
          <div class="owl-carousel owl-theme" id="foo4">
            <div class="text-center">
              <%= link_to asset_path('about/1.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/1.jpg' %></p>
              <% end %>
              <%= link_to asset_path('about/2.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/2.jpg' %></p>
              <% end %>
            </div>
            <div class="text-center">
              <%= link_to asset_path('about/3.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/3.jpg' %></p>
              <% end %>
              <%= link_to asset_path('about/4.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/4.jpg' %></p>
              <% end %>
            </div>
            <div class="text-center">
              <%= link_to asset_path('about/5.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/5.jpg' %></p>
              <% end %>
              <%= link_to asset_path('about/6.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/6.jpg' %></p>
              <% end %>
            </div>
            <div class="text-center">
              <%= link_to asset_path('about/7.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/7.jpg' %></p>
              <% end %>
              <%= link_to asset_path('about/8.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/8.jpg' %></p>
              <% end %>
            </div>
            <div class="text-center">
              <%= link_to asset_path('about/9.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/9.jpg' %></p>
              <% end %>
              <%= link_to asset_path('about/10.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/10.jpg' %></p>
              <% end %>
            </div>
            <div class="text-center">
              <%= link_to asset_path('about/11.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/11.jpg' %></p>
              <% end %>
              <%= link_to asset_path('about/12.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/12.jpg' %></p>
              <% end %>
            </div>
            <div class="text-center">
              <%= link_to asset_path('about/13.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/13.jpg' %></p>
              <% end %>
              <%= link_to asset_path('about/14.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/14.jpg' %></p>
              <% end %>
            </div>
            <div class="text-center">
              <%= link_to asset_path('about/15.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/15.jpg' %></p>
              <% end %>
              <%= link_to asset_path('about/16.jpg'), class: 'gallery2', rel: 'group2' do %>
                <p><%= image_tag 'about/16.jpg' %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<div class="line"></div>
<div class="container new_block">
  <div class="row">
    <h1 class="text-center">Новости</h1>
    <% @news.each do |n| %>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <%= link_to news_path(n) do %>
          <%= image_tag n.image.url(:medium) if n.image_file_name %>
          <h3><%= n.head %></h3>
          <p class="text-left"><%= n.short %></p>
        <% end %>
      </div>
    <% end %>
    <h5 class="text-right">
      <%= link_to 'Все новости ->', news_index_path %>
    </h5>
  </div>
</div>