<div class="main">
  <div class="container">
    <main>
      <div class="row">
        <% if @page.name %>
          <h1 class="justifycenter"><%= @page.name %></h1>
        <% end %>
        <div class="col-md-12">
          <% if @page.subname %>
            <h3><%= @page.subname %></h3>
            <br>
          <% end %>
          <% if @page.content %>
            <p><%= @page.content.split(/\r\n/).join('</p><br><p>').html_safe %></p>
          <% end %>
        </div>
      </div>
    </main>
  </div>
</div>
<div class="line"></div>
<div class="container new_block">
  <div class="row">
    <h1 class="text-center">Новости</h1>
    <% @news.each do |n| %>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <%= link_to news_path(n) do %>
          <%= image_tag n.image.url(:medium) if n.image_file_name %>
          <h3><%= n.head %></h3>
          <p class="text-left"><%= n.short %></p>
        <% end %>
      </div>
    <% end %>
    <h5 class="text-right">
      <%= link_to 'Все новости ->', news_index_path %>
    </h5>
  </div>
</div>