<% content_for :meta do %>
  <title><%= [@page.title, @page.name, @page.subname].find{|i| !i.to_s.empty? } %></title>
  <meta name="description" content="<%= [@page.description, @page.subname, @page.content].find{|i| !i.to_s.empty? } %>" />
<% end %>
<div class="main">
  <div class="container">
    <main>
      <div class="row">
        <% if @page.name %>
          <h1 class="justifycenter"><%= @page.name %></h1>
        <% end %>
        <div class="col-md-7">
          <% if @page.subname %>
            <h3><%= @page.subname %></h3>
            <br>
          <% end %>
          <% if @page.content %>
            <p><%= @page.content.split(/\r\n/).join('</p><br><p>').html_safe %></p>
          <% end %>
        </div>
        <div class="col-md-5 text-center">
          <div class="owl-carousel owl-theme" id="foo4">
            <div class="text-center">
              <a id="1" href="<%= asset_path "1.jpg" %>">
                <p><img src="<%= asset_path "1.jpg" %>" alt="" /></p>
              </a>
              <a id="2" href="<%= asset_path "2.jpg" %>">
                <p><img src="<%= asset_path "2.jpg" %>" alt="" /></p>
              </a>
            </div>
            <div class="text-center">
              <a id="3" href="<%= asset_path "3.jpg" %>">
                <p><img src="<%= asset_path "3.jpg" %>" alt="" /></p>
              </a>
              <a id="4" href="<%= asset_path "4.jpg" %>">
                <p><img src="<%= asset_path "4.jpg" %>" alt="" /></p>
              </a>
            </div>
            <div class="text-center">
              <a id="5" href="<%= asset_path "5.jpg" %>">
                <p><img src="<%= asset_path "5.jpg" %>" alt="" /></p>
              </a>
              <a id="6" href="<%= asset_path "6.jpg" %>">
                <p><img src="<%= asset_path "6.jpg" %>" alt="" /></p>
              </a>
            </div>
            <div class="text-center">
              <a id="7" href="<%= asset_path "7.jpg" %>">
                <p><img src="<%= asset_path "7.jpg" %>" alt="" /></p>
              </a>
              <a id="8" href="<%= asset_path "8.jpg" %>">
                <p><img src="<%= asset_path "8.jpg" %>" alt="" /></p>
              </a>
            </div>
            <div class="text-center">
              <a id="9" href="<%= asset_path "9.jpg" %>">
                <p><img src="<%= asset_path "9.jpg" %>" alt="" /></p>
              </a>
              <a id="10" href="<%= asset_path "10.jpg" %>">
                <p><img src="<%= asset_path "10.jpg" %>" alt="" /></p>
              </a>
            </div>
            <div class="text-center">
              <a id="11" href="<%= asset_path "11.jpg" %>">
                <p><img src="<%= asset_path "11.jpg" %>" alt="" /></p>
              </a>
              <a id="12" href="<%= asset_path "12.jpg" %>">
                <p><img src="<%= asset_path "12.jpg" %>" alt="" /></p>
              </a>
            </div>
            <div class="text-center">
              <a id="13" href="<%= asset_path "13.jpg" %>">
                <p><img src="<%= asset_path "13.jpg" %>" alt="" /></p>
              </a>
              <a id="14" href="<%= asset_path "14.jpg" %>">
                <p><img src="<%= asset_path "14.jpg" %>" alt="" /></p>
              </a>
            </div>
            <div class="text-center">
              <a id="15" href="<%= asset_path "15.jpg" %>">
                <p><img src="<%= asset_path "15.jpg" %>" alt="" /></p>
              </a>
              <a id="16" href="<%= asset_path "16.jpg" %>">
                <p><img src="<%= asset_path "16.jpg" %>" alt="" /></p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<div class="line"></div>
<div class="container new_block">
  <div class="row">
    <h1 class="text-center">Новости</h1>
    <% @news.each do |n| %>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <%= link_to news_path(n) do %>
          <%= image_tag n.image.url(:medium) if n.image_file_name %>
          <h3><%= n.head %></h3>
          <p class="text-left"><%= n.short %></p>
        <% end %>
      </div>
    <% end %>
    <h5 class="text-right">
      <%= link_to 'Все новости ->', news_index_path %>
    </h5>    
  </div>
</div>