<% content_for :meta do %>
  <title>Контакты - Delizia</title>
<% end %>
<div class="main">
  <div class="container">
    <!-- =contacts -->
    <section class="contacts">
      <header>
        <h1>Контакты</h1>
      </header>
      <div class="row">
        <div class="card text-center col-md-4 col-xs-12">
          <div class="inner">
            <div class="cell address">
              <%= image_tag 'label.png' %>
              <p>г. Минск</p>
              <p>пр. Дзержинского, 11</p>
            </div>
            <div class="cell phones">
              <%= image_tag 'smartphone.png' %>
              <p>
                <%= image_tag 'tel.png', width: 15, height: 15, class: 'viber' %>
                <a href="tel:+375172788866" title="">+375 (17) 27 888 66</a>
              </p>
              <p>
                <%= image_tag 'velcom.png', width: 15, height: 15, class: 'viber' %>
                <a href="tel:+375296788866" title="">+375 (29) 67 888 66</a>
              </p>
              <p>
                <%= image_tag 'mts.png', width: 15, height: 15, class: 'viber' %>
                <a href="tel:+375295988866" title="">+375 (29) 59 888 66</a>
              </p>
            </div>
            <div class="cell time">
              <%= image_tag 'clock.png' %>
              <p>пн - пт 10:00 - 20:00</p>
              <p>сб. 10:00 -  18:00</p>
            </div>
          </div>
        </div>
        <div class="map col-md-8 col-xs-12">
          <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=bWQsy2xE_wXOh7IgZH1BYMeB3E79u_fO&width=100%&height=480&lang=ru_RU&sourceType=constructor"></script>
        </div>
      </div>
    </section>
    <!-- =/contacts -->
    <div class="line"></div>
    <!-- =feedback -->
    <div class="feedback center-block text-center">
      <p class="title">Напишите нам</p>
      <%= form_for @entry, remote: true do |f| %>
        <fieldset>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= f.text_field :name, placeholder: 'Ваше имя' %>
          <%= f.text_field :phone, placeholder: 'Контактный телефон' %>
          <%= f.text_area :phone, placeholder: 'Сообщение ...' %>
          <%= f.submit 'Отправить', class: 'submit' %>
        </fieldset>
      <% end %>
    </div>
    <!-- =/feedback -->
  </div>
</div>