<% content_for :meta do %>
  <% if @tag.keywords.present? %>
    <meta name="keywords" content="<%= @tag.keywords %>">
  <% end %>
<% end %>

<div class="main">
  <div class="container">
    <div class="catalog">
      <h1><%= @tag.name %></h1>
      <div class="text-center row">
        <div class="col-md-3">
          <%= render partial: 'catalog/filter_form', locals: { remote: false } %>
        </div>
        <div class="col-md-9">
          <%= render partial: 'pages/info_text', locals: { field: :top_text } %>          
          <div class="goods row">
            <%= render @tag.collections %>
          </div>
          <%= render partial: 'pages/info_text', locals: { field: :bottom_text } %>     
        </div>
      </div>
      <!-- =/goods -->
    </div>
  </div>
</div>
<!-- InstanceEndEditable -->