<!-- InstanceBeginEditable name="EditRegion3" -->
<div class="main">
  <div class="container">
    <div class="catalog">
      <h1>Каталог</h1>
      <!-- =filter -->
      <!-- =/filter -->
      <!-- =goods -->
      <div class="text-center row">
        <div class="col-md-3">
          <%= render partial: 'filter_form', locals: {remote: true} %>
        </div>
        <div class="col-md-9">
          <%= render partial: 'pages/info_text', locals: { field: :top_text } %>          
          <div class="goods row">
            <%= render @goods %>
          </div>
          <div class="text-center load-more-container">
            <!-- hide our loading gif image so that we show it when making ajax call via jquery -->
            <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
            <%= submit_tag "Показать еще", class: "btn load-more hidden", form: 'filter_form', onclick: '$("#pages_number").val(+$("#pages_number").val()+1)' %>
            <% if @show_more %><script>
                $('.load-more').removeClass('hidden')
              </script><% end %>
          </div>
          <%= render partial: 'pages/info_text', locals: { field: :bottom_text } %>     
        </div>
      </div>
      <!-- =/goods -->
    </div>
  </div>
</div>
<!-- InstanceEndEditable -->