<div class="main">
  <div class="container">
    <!-- =product -->
    <section class="product">
      <header>
        <h1><span>Каталог /</span> <%=@good.name%></h1>
      </header>
      <div class="row description">
        <div class="col-md-5 col-sm-6 col-xs-12">
          <% if @good.images %>
            <div id="foo2" class="owl-carousel owl-theme">
              <% @good.images.each do |image| %>
                <div>
                  <%= link_to image.image.url, class: "gallery", rel: 'group' do %>
                    <%= image_tag image.image.url(:medium), class: 'img-responsive' if image.image_file_name %>
                  <% end %>
                  <p class="slider-title"><%=@good.name%></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber,whatsapp,skype,telegram"></div>
        </div>
        <div class="detail-text col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-12">
          <table class="detail">
            <tr>
              <td>Фабрика:</td>
              <td><%=@good.factory.name%></td>
            </tr>
            <tr>
              <td>Зона применения:</td>
              <td><%@good.zones.each do |z|%>
                  <%=z.name%> <br>
                <%end%>
              </td>
            </tr>
            <tr>
              <td>Тип помещения:</td>
              <td>
                <%@good.types.each do |z|%>
                  <%=z.name%> <br>
                <%end%>
              </td>
            </tr>
            <tr>
              <td>Типология материала:</td>
              <td><%@good.materials.each do |z|%>
                  <%=z.name%> <br>
                <%end%></td>
            </tr>
          </table>
          <div class="text" style="word-wrap: break-word;">
            <p><%=@good.content.to_s.html_safe %></p>
          </div>
        </div>
      </div>
    </section>
    <!-- =/product -->
  </div>
  <div class="line"></div>
  <!-- =composition -->
  <section class="composition container">
    <header>
      <h2>Состав коллекции</h2>
    </header>
    <div class="row">
      <div class="col-md-3">
        <%= render partial: 'filter_form', locals: {remote: false} %>
      </div>
      <div class="col-md-9">
        <div class="row tiles">
          <%= render @tiles %>
        </div>
      </div>
    </div>
  </section>
  <!-- =/composition -->
</div>