<div class="main">
		<div class="container">
			<main>
			<div class="row">
				<h1 class="justifycenter">О компании</h1>
				<div class="col-md-7">
					<h3> ДОБРО ПОЖАЛОВАТЬ В МИР ИТАЛЬЯНСКОЙ ПЛИТКИ!</h3><br>
					<p>	Салон керамической плитки «Delizia» был открыт в 2015 году. В нашем салоне  представлены  коллекции наиболее стильных, модных и знаковых производителей из Италии – тех, кого можно назвать законодателями мод, творцами новых идей, направлений и стилей. Ассортимент плитки в  «Delizia» удовлетворит самых требовательных и знающих покупателей. Большинство коллекций выполнены в современном стиле и прекрасно подойдут для создания креативного и нестандартного интерьера. А так же станут источником вдохновения для белорусских дизайнеров. </p><br>
				
					<p>Наша миссия — дарить людям радость, безопасность и пользу от использования наших материалов в отделке интерьеров! Работа без посредников позволяет нам предлагать своим клиентам самые привлекательные цены на продукцию! Клиент "Delizia" может рассчитывать на полный спектр услуг по выбору, дизайнерскому оформлению, детальному просчету и доставке плитки. Так же у нас вы попадаете в небольшой и действительно «по-домашнему» уютный шоурум с приятной атмосферой и музыкальным оформлением, которые принесут вам еще больше положительных эмоций во время покупки.</p><br>
					<p>Чтобы каждый клиент мог получить самую актуальную информацию о мировых тенденциях в области дизайна плитки, мы посещаем Международную выставку керамической плитки в Италии.</p>
					
				</div>
				<div class="col-md-5 text-center">
					<div class="owl-carousel owl-theme" id="foo4">
						<div class="text-center">
							<a id="1" href="<%= asset_path "1.jpg" %>"><p><img src="<%= asset_path "1.jpg" %>" alt="" /></p></a>
							<a id="2" href="<%= asset_path "2.jpg" %>"><p><img src="<%= asset_path "2.jpg" %>" alt="" /></p></a>
						</div>
						<div class="text-center">
							<a id="3" href="<%= asset_path "3.jpg" %>"><p><img src="<%= asset_path "3.jpg" %>" alt="" /></p></a>
							<a id="4" href="<%= asset_path "4.jpg" %>"><p><img src="<%= asset_path "4.jpg" %>" alt="" /></p></a>
						</div>
						<div class="text-center">
							<a id="5" href="<%= asset_path "5.jpg" %>"><p><img src="<%= asset_path "5.jpg" %>" alt="" /></p></a>
							<a id="6" href="<%= asset_path "6.jpg" %>"><p><img src="<%= asset_path "6.jpg" %>" alt="" /></p></a>
						</div>
						<div class="text-center">
							<a id="7" href="<%= asset_path "7.jpg" %>"><p><img src="<%= asset_path "7.jpg" %>" alt="" /></p></a>
							<a id="8" href="<%= asset_path "8.jpg" %>"><p><img src="<%= asset_path "8.jpg" %>" alt="" /></p></a>
						</div>
						<div class="text-center">
							<a id="9" href="<%= asset_path "9.jpg" %>"><p><img src="<%= asset_path "9.jpg" %>" alt="" /></p></a>
							<a id="10" href="<%= asset_path "10.jpg" %>"><p><img src="<%= asset_path "10.jpg" %>" alt="" /></p></a>
						</div>
						<div class="text-center">
							<a id="11" href="<%= asset_path "11.jpg" %>"><p><img src="<%= asset_path "11.jpg" %>" alt="" /></p></a>
							<a id="12" href="<%= asset_path "12.jpg" %>"><p><img src="<%= asset_path "12.jpg" %>" alt="" /></p></a>
						</div>
						<div class="text-center">
							<a id="13" href="<%= asset_path "13.jpg" %>"><p><img src="<%= asset_path "13.jpg" %>" alt="" /></p></a>
							<a id="14" href="<%= asset_path "14.jpg" %>"><p><img src="<%= asset_path "14.jpg" %>" alt="" /></p></a>
						</div>
						<div class="text-center">
							<a id="15" href="<%= asset_path "15.jpg" %>"><p><img src="<%= asset_path "15.jpg" %>" alt="" /></p></a>
							<a id="16" href="<%= asset_path "16.jpg" %>"><p><img src="<%= asset_path "16.jpg" %>" alt="" /></p></a>
						</div>
					</div>
				</div>
			</div>
				
				<!-- <img src="tmp/action.jpg" alt="" class="justifyleft" /> -->

				
			</main>
		</div>
	</div>