<!-- =footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="menu-1 col-md-2 col-sm-6 col-xs-12">
				<ul>
          <li><%= link_to Page.about.name, about_path %></li>					
          <li><%= link_to Page.delivery.name, delivery_path %></li>					
					<li><%= link_to 'Новости', news_index_path %></li>
          <li><%= link_to Page.dealers.name, dealers_path %></li>					
					<li><%= link_to 'Контакты', contacts_path %></li>
				</ul>
			</div>
			<div class="menu-2 menu_3 col-md-5 col-sm-6 col-xs-12">
			  <ul>
					<li class="title"><%= link_to 'Новости', news_index_path %></li>
					<% News.recent(2).each do |news| %>
					<li>
						<p><%= news.short %></p>
						<p class="footer_new_left"><%= news.created_at.strftime('%d.%m.%Y') %></p>
						<p class="text-right"><%= link_to 'Читать дальше', news_path(news), class: 'footer_new_right' %></p>
					</li>
					<% end %>					
				</ul>
			</div>
			<div class="menu-2 col-md-2 col-sm-6 col-xs-12">
			  <ul>
			  		<li><%= link_to 'Каталог', catalog_index_path, class: 'title' %>
			  		<% Type.all.each do |type| %>
						<li><%= link_to type.name, catalog_index_path(types: type.id) %></li>
					<% end %>
				</ul>
			</div>
			<div class="contacts col-md-3 col-sm-6 col-xs-12 pull-right">
				<p><img src="<%= asset_path "tel.png" %>" alt="" width="13" height="13" class="viber" /><a href="tel:+375172788866" title="">+375 (17) 27 888 66</a></p>
		    	<p><img src="<%= asset_path "velcom.png" %>" alt="" width="13" height="13" class="viber" /><a href="tel:+375296788866" title="">+375 (29) 67 888 66</a></p>
				<p><img src="<%= asset_path "mts.png" %>" alt="" width="13" height="13" class="viber" /><a href="tel:+375295988866" title="">+375 (29) 59 888 66</a></p>
				<p>станция метро «Грушевка»</p>
				<p>г. Минск пр. Дзержинского, 11</p>
				<p>пн - пт 10:00 - 20:00</p>
				<p>сб. 10:00 -  18:00</p>
				<p>
					<a href="mailto:info@delizia.by" title="">info@delizia.by</a>
				</p>
				<p>
					<img src="<%= asset_path "belkart.png" %>" alt="">
					<img src="<%= asset_path "MasterCard.png" %>" alt="">
					<img src="<%= asset_path "Visa.png" %>" alt="">					
				</p>
				<p>ООО «Фартужен» УНП 191759660</p>
			</div>
		</div>
	</div>
</footer>
<!-- =/footer -->