<header class="header">
  <div class="search hidden-xs">
    <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :query, nil, placeholder: 'Поиск' %>
      <%= image_tag 'search.png' %>
    <% end %>
  </div>
  <div class="container">
    <div class="row">
      <div class="logo col-md-3 col-sm-3 col-xs-12">
        <a href="/" title=""><img src="<%= asset_path "logo.png" %>" alt="Delizia - салон керамической плитки" /></a>
      </div>
      <div class="contacts text-center col-md-4 col-sm-offset-1 col-sm-4 col-xs-12">
        <p>г. Минск пр. Дзержинского, 11</p>
        <p>пн - пт 10:00 - 20:00</p>
        <p>сб. 10:00 -  18:00</p>
      </div>
      <div class="phones col-md-3 col-sm-4 col-xs-12 text-right">
        <p><img src="<%= asset_path "tel.png" %>" alt="" width="13" height="13" class="viber" /><a href="tel:+375172788866" title="">+375 (17) 27 888 66</a></p>
        <p><img src="<%= asset_path "velcom.png" %>" alt="" width="13" height="13" class="viber" /><a href="tel:+375296788866" title="">+375 (29) 67 888 66</a></p>
        <p><img src="<%= asset_path "mts.png" %>" alt="" width="13" height="13" class="viber" /><a href="tel:+375295988866" title="">+375 (29) 59 888 66</a></p>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-xs-12">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul>
              <li><%= link_to 'Главная', root_path %></li>
              <li><%= link_to 'Каталог', catalog_index_path %>
                <div class="podmenu" >
                  <ul>
                    <% Type.all.each do |type| %>
                      <li><%= link_to type.name, catalog_index_path(types: type.id) %></li>
                    <% end %>
                  </ul>
                </div>
              </li>
              <li><%= link_to Page.about.name, about_path %>
                <div class="podmenu" >
                  <ul>
                    <li><%= link_to Page.delivery.name, delivery_path %></li>
                  </ul>
                </div>
              </li>
            </li>
            <li><%= link_to 'Фабрики', factory_index_path %></li>
            <li><%= link_to 'Новости', news_index_path %></li>
            <li><%= link_to 'Контакты', contacts_path %></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
</header>