<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/homepage.dwt" codeOutsideHTMLIsLocked="false" -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name='yandex-verification' content='6bb0dc226cf7c9e9' />
    <title><%= @title || "Delizia - салон итальянской плитки" %></title>
    <% if @description.present? %><meta name="desription" content="<%= @description %>" /><% end %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!--[if IE]>
      <link href="css/styles-ie.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if (gte IE 5.5)&(lte IE 8)]>
      <link href="css/styles-ie8.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="js/selectivizr.js"></script>
    <![endif]-->
    <!--[if lte IE 6]>
      <meta http-equiv="refresh" content="0; url=http://yoursite.com/ie6/ie6.html">
    <![endif]-->
  </head>
  <body>
    <div class="outerwrapper">
      <%= render partial: "layouts/header" %>
      <%= yield %>
    </div>
    <%= render partial: "layouts/footer" %>
    <% javascript_include_tag 'owl.carousel.min.js' %>
  </body>
  <!-- InstanceEnd -->
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WC3GSX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WC3GSX');
  </script>
  <!-- End Google Tag Manager -->
</html>